.hide {
    display: none !important
}

.show {
    display: block !important
}

.pull-left {
    float: left !important
}

.pull-right {
    float: right !important
}

.plateinnerBox {
    margin-top: 30px
}

.plateinnerBox .plate h2.title {
    font-size: 18px;
    height: 18px;
    line-height: 1em;
    color: #666;
    width: 280px;
    height: 40px;
    margin: 24px 0 18px;
    display: block
}

.plateinnerBox .plate h2.title .line {
    float: left;
    width: 4px;
    height: 18px;
    background: #c32016;
    border-radius: 2px;
    margin: 0 10px 20px 0;
    display: block
}

.plateinnerBox .plate .plateList {
    width: 266px;
    height: 290px;
    margin: -25px 0 0 18px
}

.plateinnerBox .plate .plateList .plateList-content {
    *zoom: 1;
    margin-top: 24px;
    width: 280px;
    height: 40px
}

.plateinnerBox .plate .plateList .plateList-content:before, .plateinnerBox .plate .plateList .plateList-content:after {
    display: table;
    content: "";
    line-height: 0
}

.plateinnerBox .plate .plateList .plateList-content:after {
    clear: both
}

.plateinnerBox .plate .plateList .plateList-content .plate-box {
    width: 137px;
    height: 30px;
    float: left
}

.plateinnerBox .plate .plateList .plateList-content h4 {
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    width: 127px
}

.plateinnerBox .plate .plateList .plateList-content h4 a {
    color: #666
}

.plateinnerBox .plate .plateList .plateList-content h4:hover {
    text-decoration: underline
}