.choose{
	height: 8.8rem;
	width: 100%;
	background: url(../img/choose_bg.png);
	background-size: 100% 100%;
	text-align: center;
}
.choose > h3{
	height: 1.6rem;
    line-height: 1.6rem;
    color: #333333;
    font-size: 0.4rem;
}
.register_info > input,
.register_info > select{
	display: inline-block;
	width: 80.8%;
	height: 0.8rem;
	border: 1px solid #d6d6d6;
	background: #ffffff;
	outline: none;
	/*border: 1px solid #ebecf1;*/
	margin-bottom: 0.3rem;
	box-sizing: border-box;
	padding-left: 0.9rem;
	color: #666666;
	/*box-shadow: 0px 3px 8px #e5e6eb;*/
}
.register_info > input::-webkit-input-placeholder{
            color:#cccccc;
        }
 .register_info > input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#cccccc;
        }
.register_info > input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#cccccc;
        }
.register_info > input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#cccccc;
        }
.agree{
	font-size: 0.2rem;
	color: #333333;
	height: 0.8rem;
	line-height: 0.8rem;
	box-sizing: border-box;
	margin-bottom: 0.2rem;
}
.agree > span{
	letter-spacing: 1px;
	color:#d74c42;
}
.agree > input{
	vertical-align: sub;
	margin-right: 0.25rem;
	background: #ffffff;
	border: 1px solid #d6d6d6;
	height: 0.3rem;
	width: 0.3rem;
}
.register_info > button{
	height:0.8rem;
	background: #d74c42;
	width: 80.8%;
	letter-spacing: 1px;
	border-radius: 25px;
	color: #ffffff;
	font-size: 0.28rem;
	outline: none;
	border: 0;
}
