    <div class="footer">
        <ul>
            <li onclick="window.location.href='/'">网站首页</li>
            <li onclick="window.location.href='/Mobile/Index/advantage'">办学优势</li>
            <li onclick="window.location.href='/Mobile/Index/courseSet'">课程设置</li>
            <li onclick="window.location.href='/Mobile/Index/influence'">学员口碑</li>
        </ul>
        <ul>
            <li onclick="window.location.href='/Mobile/Index/news'">新闻资讯</li>
            <!--<li>校区环境</li>-->
            <li onclick="window.location.href='/Mobile/Index/children'">儿童学院</li>
            <li onclick="window.location.href='/Mobile/Index/school'">校区地址</li>
            <li onclick="window.location.href='/Mobile/Special/work'">作业清e</li>
        </ul>
    </div>