<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>望子成龙学校官方网站-中国西部规模大、口碑好的中小学文化艺术培训品牌学校</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/publicHead.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/publicRegister.css" />
    <link rel="stylesheet" href="__STATIC__/mobile/layer/skin/layer.css" media="all">
    <block name="css"></block>
    <!--自己的css-->
    <style>
        .layui-layer-hui .layui-layer-content{
            color:#fff;
        }
    </style>
    <!--引用js-->
    <script type="text/javascript" src="__STATIC__/mobile/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__STATIC__/mobile/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/mobile/js/swiper.min.js"></script>
    <script src="__STATIC__/mobile/layer/layer.js"></script>
</head>
<body>

<block name="header">
    <include file="layout/header"/>
</block>

<block name="banner">
    <include file="layout/banner"/>
</block>

<block name="main">

</block>

<block name="register">
    <include file="layout/register"/>
</block>

<block name="footer">
    <include file="layout/footer"/>
</block>
<block name="popRegister">
    <include file="layout/popRegister"/>
</block>

<block name="footerJs">

</block>

</body>
</html>